<h2 *ngIf="displayName; else elseBlock">
  Welcome to Structural Directives!
</h2>
<ng-template #elseBlock>
  <h2>
    Message is hidden!
  </h2>
</ng-template>

<div *ngIf="displayName; then thenBlock; else thenElseBlock"></div>
<ng-template #thenBlock>
  <h2>Hi</h2>
</ng-template>
<ng-template #thenElseBlock>
  <h2>Bye</h2>
</ng-template>

<div [ngSwitch]="color">
  <div *ngSwitchCase="'red'">You picked Red Color</div>
  <div *ngSwitchCase="'blue'">You picked Blue Color</div>
  <div *ngSwitchCase="'green'">You picked Green Color</div>
  <div *ngSwitchDefault>Pick again mate!</div>
</div>

<div *ngFor="let color of colors; index as i; first as f; last as l; odd as o; even as e">
  <h2>{{i}} {{f}} {{l}} {{o}} {{e}} {{color}}</h2>
</div>

<div>
  <h2>{{"Hello " + name}}</h2>
</div>

<div>
  <button (click)="sendEvent()">Send Event</button>
</div>

<div>
  <h2>{{name | lowercase}}</h2>
  <h2>{{name | uppercase}}</h2>
  <h2>{{name | slice:3}}</h2>
  <h2>{{name | slice:3:5}}</h2>
  <h2>{{message | titlecase}}</h2>
  <h2>{{person | json}}</h2>

  <h2>{{5.678 | number:'1.2-3'}}</h2>
  <h2>{{5.678 | number:'3.4-5'}}</h2>
  <h2>{{5.678 | number:'3.1-2'}}</h2>

  <h2>{{0.25 | percent}}</h2>
  <h2>{{0.25 | currency}}</h2>
  <h2>{{0.25 | currency : 'INR'}}</h2>
</div>